{% extends "blog/base.html" %}
{% block content %}
    <p class="mb-4">{{ page_obj.paginator.count }} Post{{ page_obj.paginator.count|pluralize:'s' }} having category
        <b>{{ view.kwargs.name }}</b></p>
    {% for post in category_posts %}
        <div class="row col-md-12 col-xs-12  post-content">
            <div class="col-1 profile-img">
                <div>
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                </div>
            </div>
            <div class=" col-11">
                <div class="pb-2 mb-2 border-bottom">By
                    <a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>,
                    <small class="mr-0">{{ post.location }}</small>
                    <small class="pull-right">{{ post.date_posted|date:"F d, Y" }}
                    </small>
                </div>
                <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                <p>{{ post.content|safe|truncatewords:51 }}</p>
                {% if post.content|wordcount > 51 %}
                    <a class="btn btn-primary" href="{% url 'post-detail' post.id %}">More</a>
                {% endif %}

            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First </a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.has_previous_page_number }}">Previous </a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }} </a>
            {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }} </a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next </a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last </a>
        {% endif %}

    {% endif %}
{% endblock content %}