{% extends "blog/base.html" %}
{% block content %}
    <div class="row col-md-12 col-xs-12  post-content">
        <div class="col-1 profile-img">
            <div>
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
            </div>
        </div>
        <div class=" col-11">
            <div class="pb-2 mb-2 border-bottom">By <a
                    href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>,
                <small class="mr-0">{{ object.location }}</small>
                <small class="pull-right">{{ object.date_posted|date:"F d, Y" }}</small>
            </div>

            <div>
                <div>
                    <h4>{{ object.title }}</h4>
                    <p>{{ object.content|safe }}</p>
                </div>
                <div>
                    {% if object.author == user %}
                        <a class="btn btn-outline-danger " role="button"
                           href="{% url 'post-delete' object.id %}">Delete</a>
                        <a class="btn btn-outline-info " role="button"
                           href="{% url 'post-update' object.id %}">Update</a>
                    {% endif %}
                </div>
                <div>
                    {% for category in object.categories.all %}
                        <a>{{ category }}</a>
                    {% endfor %}
                </div>
                <div>
                    {% if comments %}
                        <strong class="text-secondary">{{ object.number_of_comments }}
                            Comment{{ object.number_of_comments|pluralize }}</strong>
                        <hr>
                        {% for comment in comments %}
                            <div class="m-3 p-1 bg-light">
                            <span>
                              <strong class="text-info">{{ comment.author }} </strong>
                              <small class="text-muted">{{ comment.created_on }}</small>
                            </span>
                                <div> {{ comment.content|safe }}</div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div><strong class="text-secondary">Be first to comment</strong></div>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                    <div>
                        <form method="POST">
                            {% csrf_token %}
                            <div>
                                {{ comment_form.as_p }}
                            </div>
                            <button class="btn btn-outline-info" type="submit">
                                Add comment
                            </button>

                        </form>
                    </div>

                {% else %}
                    <a class="btn btn-outline-info" href="{% url 'login' %}?next={{ request.path }}">Log in to Like and
                        Comment</a>
                    <br>
                {% endif %}
            </div>
            <div class="my-3">
                <button class="btn p-0 btn-link btn-xs" type="submit" name="post_id" id="like-button"
                        value="{{ post.id }}">
                    <div id="user_liked"></div>
                </button>
                <p id="total_likes">{{ total_likes }}</p>
            </div>
        </div>
    </div>


{% endblock content %}
{% block javascript %}
    <script>
        $(document).ready(function (e) {
            console.log('GET FUNCTION');
            $.ajax({
                type: 'GET',
                url: '{% url "is_liked" %}',
                data: {
                    'postid':{{ post.pk }}
                },
                success: function (response) {
                    console.log(response['user_liked']);
                    if (response['user_liked'] == 'liked') {
                        document.getElementById("user_liked").innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">\n' +
                            '  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>\n' +
                            '</svg>'
                    } else if (response['user_liked'] == 'not_liked') {
                        document.getElementById("user_liked").innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">\n' +
                            '  <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>\n' +
                            '</svg>'
                    } else {
                        document.getElementById("user_liked").innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">\n' +
                            '  <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>\n' +
                            '</svg>'
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            })
        })
        $(document).on('click', '#like-button', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "like_post" %}',
                data: {
                    'postid': $('#like-button').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': 'post'
                },
                success: function (json) {
                    document.getElementById("total_likes").innerText = json['count'];
                    if (json['user_liked'] == 'liked') {
                        document.getElementById("user_liked").innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">\n' +
                            '  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>\n' +
                            '</svg>'
                    } else if (json['user_liked'] == 'not_liked') {
                        document.getElementById("user_liked").innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">\n' +
                            '  <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>\n' +
                            '</svg>'
                    } else {
                        document.getElementById("user_liked").innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">\n' +
                            '  <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>\n' +
                            '</svg>'
                    }
                },
                error: function (xhr, errmsg, err) {

                }
            })
        })
    </script>
{% endblock javascript %}