
{% extends "blog/base.html" %} 
    {% block content %} 
            <div class = "row col-md-12 col-xs-12  post-content">
                <div class = "col-1 profile-img">
                    <div>
                    <img class = "rounded-circle article-img" src="{{object.author.profile.image.url}}">
                    </div>
                </div>
                <div class=" col-11">
                    <div class="pb-2 mb-2 border-bottom">By <a href="#">{{ object.author }}</a>, 
                    <small class="mr-0">{{ object.location }}</small>
                    <small class="pull-right">{{ object.date_posted|date:"F d, Y" }}</small>     
                </div>
                <div>
                    <h4>{{ object.title }}</h4>
                    <p>{{ object.content }}</p>
                    {% if object.author == user %}
                    <a btn btn-secondary-danger href = "{% url 'post-delete' object.id %}">Delete</a>
                       <a btn btn-secondary-info href = "{% url 'post-update' object.id %}">Update</a>
                    {% endif %}
                </div>
                </div>
            </div> 
    {% endblock content %}